 
 main{
   /* background-image: url(wp1987894.jpg); */
   background-color: #E5E4E2;
   background-repeat: no-repeat;
   background-size: cover;
   height: 1000px;
 }
 #head2{
   height: 500px;
   
   background-color: #E5E4E2;
   
  }
  #snow{
    
    display: inline-block;
/* background-image: url(img/snow.png);
background-repeat: no-repeat;
height: 600px; */
/* float: right; */

 }

.inp{
  font-size:x-large;
}
#sup1{
  border-radius: 12px;
  font-size: 24px;
  /* font color: #151B54; */
}

input[type=text] {
  width: 85%;
  padding: 6px 10px;
  margin: 3px 0;
  box-sizing: border-box;
  border-radius: 12px;
}



table,th,td{
  border: solid black 1px;
  
  
}
.hed{
  font-size: 130px;
  font-family: 'Ballet', cursive;
  margin-left: 200px;
  color: #151B54;
}
table{
  
   float: right;
 /* margin-top: 420px;  */
  /* margin-bottom: 0px; */
  width: 300px;
  margin-top: 350px;
  height: 330px;

}
td:hover {background-color: #fff6f6;}

th {
  background-color: #728FCE;
  color: rgb(252, 249, 249);
}
td{
  background-color: #95B9C7;
}

th, td {
  padding: 5px;
  text-align: center;
}
#feldset{
  border: solid 5px #728FCE;  
  /* float:right; */
  /* margin-bottom: 4000px;*/
  /* margin-top:70px;  */
  /* margin-left: 350px; */
  background-color:#728FCE ;
  width: 250px;
  float: left;
  /* float: right; */
  margin-top: 350px;

  
  }
  /* #sup1{
      float: right;
  } */
/* ------------------------------------------------------------------------ */


#fir{
  margin-top: 55px;
  background-image: url('../img/family.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}
#sec{
  background-image: url('../img/chinook.jpg');
  height: 200px;
  background-repeat: no-repeat;
}
#ther{
  background-image: url('../img/cutter.jpeg');
  height: 200px;
  background-repeat: no-repeat;
}
#fur{
  background-image: url('../img/fish.jpg');
  height: 200px;
  background-repeat: no-repeat;
}
#fif{
  background-image: url('../img/frosted-cookie.jpg');
  height: 200px;
  background-repeat: no-repeat;
}
#six{
  background-image: url('../img/shirt.jpg');
  height: 200px;
  background-repeat: no-repeat;
  
}
address{
  font-size: larger;
  font-style: oblique;
}

/* ------------------------------------------------------------------------ */
#header2{
  background-color:#87AFC7;
}
nav ul li a {
  text-decoration: none;
  font-size: 40px;
  color: #151B54;
}
nav ul li{
  display: inline-block;
  padding: 30px;
}

/* --------------------------------------------------- */
.mySlides{
  margin-top: 200px;
  width: 40%;
  min-height: 200px;
  margin-left: 500px;
}
input[type=submit] {
  background-color: hsl(242, 67%, 11%);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#fe2{
  border: solid 5px #728FCE;  
  /* float:right; */
  /* margin-bottom: 4000px;*/
  /* margin-top:70px;  */
  /* margin-left: 350px; */
  background-color:#728FCE ;
  width:300px;
  float: left;
 
  
}
#maine2{
  background-image: url(wp1987894.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}